#intro
  .wrapper
    .mini
      От маркетологов, работающих с такими проектами, как:
      %br
      «Мир Массажа» и «Купидоновы проказы»

    .title
      %strong Реклама, маркетинг
      и
      %strong бизнес-консалтинг
      %br
      для салонов эротического массажа

    .phone
      .small Телефон для связи
      8 (905) 737 69 16 - Константин


%section
  .wrapper
    .title.min-margin-bottom Кто мы?
    .subtitle

    .who-we-are
      .person.clearfix
        .card
          .avatar
            %img{src: '/images/kt.jpg'}
          .name
            Константин Тишкин

        .about
          %p
            С 2009 по 2013 год - Директор по маркетингу в салоне эротического массажа «Мир Массажа»
            (
            %a{href:'http://na-massage.com', target: '_blank'} www.na-massage.com
            )

          %p
            2012 год - Директор по маркетингу в салоне «Купидоновы проказы»
            (
            %a{href: 'http://ero-kupidon.com', target: '_blank'} www.ero-kupidon.com
            )
            Вывел новый проект с нуля до 30 000 - 50 000 рублей в день за один месяц.

          %p
            %strong Ключевые компетенции:
            %br
            %br
            Увеличение количества гостей, аналитика сайта, продвижение сайта.
            Продвижение новых услуг. Внедрение инноваций в сайтах и рекламе массажных салонов.


      .person.clearfix
        .card
          .avatar
            %img{src: '/images/ka.jpg'}
          .name
            Кирилл Агатов

        .about
          %p
            С 2011 по 2013 год - ведущий разработчик, затем директор
            по IT в двух крупных компаниях в венчурном секторе бизнеса.

          %p
            В 2013 году основал маркетинговое агенство «Абардача»
            %br
            (
            %a{href: 'http://abardacha.ru', target: '_blank'} www.abardacha.ru
            )


          %p
            %strong Ключевые компетенции:
            %br
            %br
            Увеличение эффективности отдела продаж, оптимизация бизнес-процессов в компании,
            подбор персонала и контроль качества, разработка и внедрение программ лояльности,
            работа над увеличением среднего чека.



%section.striped
  .wrapper
    .title.small
      За 5 лет мы создали совершенную систему
      %br
      массового привлечения новых клиентов

    .triggers.clearfix
      .trigger
        .name Яндекс-Директ
        Настроим проверенную и эффективную
        рекламную кампанию в Яндекс.Директ.
        Массажная лицензия не требуется.

      .trigger
        .name Купонаторы
        Мы знаем как и где запустить акцию,
        которая будет приносить вам деньги
        и новых гостей.

      .trigger
        .name Работа с таксистами
        Запустим партнерскую программу с
        таксистами, в результате чего вы сможете
        получать от 5 до 20 новых гостей в день.

      .trigger
        .name Анкетники
        Мы знаем как минимум о 10 эффективных
        сайтах, где можно разместить анкеты
        ваших массажисток, а также умеем делать
        эти анкеты эффективными.

      .trigger
        .name Email-маркетинг
        Внедрим правильный email-маркетинг,
        в результате чего постоянники начнут
        посещать вас чаще, а также увеличится
        количество новых гостей.

      .trigger
        .name Доски объявлений
        Разместим вас на всех популярных досках
        объявлений, пройдя все этапы модерации.
        Это даст вам +20 новых звонков в день.

      .trigger
        .name Социальные сети
        Умеем создавать и продвигать группы и
        сообщества в социальных сетях,
        посвященные эротическому массажу, а
        также приводить из них вам гостей.

      .trigger
        .name Геоконтекстная реклама
        Реклама в автомобильных навигаторах,
        у водителей, проезжающих мимо вашего
        салона. Неплохо?

      .trigger
        .name И это не все
        Описанные выше методы рекламы - лишь
        верхушка айсберга. В наших закромах еще очень
        много сюрпризов и неожиданных
        маркетинговых решений.


%section
  .wrapper
    .title
      200 рекламных площадок

    .advert-landings.clearfix
      .about
        .name 200 рекламных площадок - это наша самая большая гордость.

        .content
          Пять лет опыта, бесконечных проб и ошибок позволили нам составить базу из самых работающих, а самое главное, в большинстве случаев, бесплатных рекламных площадок,
          внедрив которые, вы уже на следующий день получите море новых гостей в свой салон

        .button#scroll-to-form-button Очень интересно


      .image


%section.striped
  .wrapper
    .title.min-margin-bottom Ваши менеджеры сливают клиентов?
    .subtitle
      Каждый звонок стоит вам денег! Мы поможем вам увеличить эффективность
      ваших менеджеров как на этапе «звонок-приезд», так и на этапе продажи дорогих программ


    .triggers.clearfix
      .trigger
        .name Скрипт продаж
        Четкий и последовательный алгоритм
        телефонного разговора, благодаря которому ваш менеджер начнет продавать лучше.

      .trigger
        .name CRM-система
        Внедрение CRM-системы позволяет
        вести сквозную аналитику по гостям,
        программам, а также поможет
        анализировать акции и историю посещений
        вашего салона.

      .trigger
        .name Отслеживание звонков
        Мы внедрим систему, которая покажет
        сколько у вас входящих звонков на самом
        деле, какой процент из числа звонящих приезжает к вам в салон,
        позволит прослушивать записи разговоров и отслеживать пропущенные звонки.


%section
  .wrapper
    .title.mini
      Какие проблемы, помимо рекламы,
      %br
      мы поможем решить в вашем бизнесе


    .triggers.clearfix
      .trigger
        .name Подбор персонала
        Мы знаем где искать массажисток
        и как правильно проводить собеседования,
        чтобы они оставались работать в салоне

      .trigger
        .name Программы лояльности
        Как сделать так, чтобы новый гость пришел к вам
        не менее 4 раз за следующий месяц? Мы знаем ответ
        на этот вопрос.

      .trigger
        .name Управление персоналом
        Мы поможем вам выстроить четкую систему,
        в которой менеджеры не воруют часы, а массажистки
        отрабатывают каждую программу на все 100%


= haml :form




