%html
  %head
    = css :application
    = js :application
    %title
      Реклама, маркетинг и бизнес-консалтинг для салонов эротического массажа
  %body
    = yield
    -#= haml :modal
    -#= erb :metrika